body {
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    height: 100vh;
    background: blue;
}

h1 {
    margin: auto;
    font: 3rem Roboto, arial;
    color: #000;
    text-shadow: 3px 3px 5px rgba(255, 255, 255, 1);
}
